{{- define "main" -}}

<div class="universal-wrapper pt-3">
    <div class="alert alert-danger" role="alert">
        Client error. HTTP status code: 404 Not Found.
      </div>
    <h1>Oh no!</h1>
    <h2>...but I couldn't find you were looking for.</h2>
    <img src="https://blog.hubspot.com/hubfs/Shrug-Emoji.jpg" alt="shrug kaomoji">
    <p>Here's what may have happened</p>
    <ul>
        <li>You followed an old or broken link.</li>
        <li>You mistyped the URL.</li>
        <li>I did something wrong. (let's face it, this is the most likely scenario)</li>
        <li>You wanted to see what the 404 page looks like. (sorry to disappoint)</li>
    </ul>
    <a href="https://giloliveira.net"><button type="button" class="btn btn-primary">Let's go home</button></a>
</div>

{{- end -}}